<h1><b>Customer</b>: Download your report</h1>
<p>Report has been generated, <a href="/reports/download/{{filename}}" target="_blank">click here</a> to download the report.</p>

<style>
    ul li {
        list-style: none;
    }
</style>
