<h1><b>Teacher</b>: Upload content.</h1>
<hr />
<p>Following ({{files.length}}) documents are available:</p>
<ul>
    {{#each files }}
        <li>{{this}}</li>
    {{/each}}
</ul>

<hr />
<p>Select the file to upload</p>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="document" multiple="false" required="true" />
    <input type="submit" value="Upload" />
</form>
